{% extends 'home/_base.html' %}
{% load static %}
{% block content  %}
    <section class="container">
        <div class="row">
            <h2 class="text-center">Artes em Destaque</h2>
        </div>
        <div class="row row-cols-2">
        {% for galeria in galerias %}
            <div class="col my-4">
                <div class="small__image" id="img-2" src="{{ galeria.photo_art.url }}"></div>
                <h3>{{ galeria.title }}</h3>
                <p class="text-secondary">Realizada em: {{ galeria.date_create }}</p>
                <button class="btn btn-dark popup__button1" onclick="meuPopup(1);">Detalhes
                    <p class="popup__texto1">{{ galeria.details }}</p>
                </button>
            </div>
        {% endfor %}
        </div>
    </section>
{% endblock  %}